@model List<Event>
<!-- Header Area Start -->
@await Component.InvokeAsync("Header")
<!-- Header Area End -->
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div id="ParentDiv" class="row">
            @foreach (var item in Model)
            {
                <div id="ChildDiv" class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.id">
                                <img src="~/img/event/@item.İmage" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.Day <span>@item.Month</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a id="Names" asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.id">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @item.Date.ToString("hh.mm") - 4.45 PM</li>
                                <li><span>venue</span> @item.Location</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@item.id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }




        </div>
    </div>
</div>
<!-- Event End -->


@section Script{
    <script>
        function myFunction() {


            var input, filter, Parent, Child, a, i, txtValue;

            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            let matches = document.querySelectorAll("#ChildDiv");
            for (i = 0; i < matches.length; i++) {
                let a = matches[i].querySelector('a[id="Names"]');
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    matches[i].classList.remove('d-none');
                } else {
                    matches[i].classList.add('d-none')
                }
            }

        }
    </script>
}