@model List<Course>
<div class="body-content">
    <div class="container">
        @*<div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course mb-70">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@item.id">
                                <img src="~/img/course/@item.Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@item.id">@item.Name</a></h3>

                            <p>@item.Description</p>
                            <a class="default-btn" asp-controller="Course" asp-action="CourseDetails" asp-route-id="@item.id">read more</a>
                        </div>
                    </div>
                </div>
            }



        </div>*@
        <div class="row justify-content-center">
            <a class="btn btn-success-soft" asp-area="Admin" asp-action="CreateCourse" asp-controller="Course" style="width:800px">Create Notices</a>
        </div>
        <div class="row justify-content-center">

            @foreach (var item in Model)
            {
                <div class="card mr-2 ml-2" style="width: 22rem;">
                    <div class="mt-2" style="width:325px; height:210px">
                        <img src="~/img/course/@item.Image" class="card-img-top" alt="Course Image">
                    </div>
                    <div class="card-body center-block">
                        <div>
                            <h5 class="card-title"> <strong>@item.Name</strong> </h5>
                            <h6>@item.Description</h6>
                        </div>
                        <a asp-area="Admin" asp-controller="Home" asp-action="DeleteCourse" asp-route-id="@item.id" class="btn btn-danger-soft btn-sm" onclick="return confirm('Are you sure you want to delete?')"><i class="far fa-trash-alt"></i></a>
                        <a asp-area="Admin" asp-controller="Home" asp-action="Edit" asp-route-id="@item.id" class="btn btn-success-soft btn-sm ml-1"><i class="far fa-edit"></i></a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="container mt-7">
    <div class="row justify-content-center">
        <nav aria-label="...">
            <ul class="pagination mt-5" style="justify-content:center">
                <li class="page-item @(ViewBag.CurrentPage==1 ? "disabled" : "")">
                    <a class="page-link" asp-area="admin" asp-controller="Course" asp-action="CoursePage" asp-route-page="@(ViewBag.CurrentPage-1)">Previous</a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage==i ? "active":"")" style="@(ViewBag .CurrentPage==i ? "pointer-events:none":"")" aria-current="page">
                        <a class="page-link" asp-area="admin" asp-controller="Course" asp-action="CoursePage" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(ViewBag.CurrentPage==ViewBag.TotalPage ? "disabled" : "")">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>