
@model List<EduHome.Models.DbTables.Teacher> 


<!-- Header Area Start -->
<header class="top">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="header-top-left">
                        <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="header-top-right text-right">
                        <ul>
                            <li><a href="login.html">login</a></li>
                            <li><a href="signup.html">signup</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area two header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo2.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-6">
                    <div class="content-wrapper text-right">
                        <!-- Main Menu Start -->
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                            <li><a href="index-5.html">Home Five</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About</a></li>
                                    <li>
                                        <a href="course.html">courses</a>
                                        <ul>
                                            <li><a href="course.html">courses</a></li>
                                            <li><a href="course-details.html">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="event.html">event</a>
                                        <ul>
                                            <li><a href="event.html">event</a></li>
                                            <li><a href="event-left-side-bar.html">event left sidebar</a></li>
                                            <li><a href="event-right-side-bar.html">event right sidebar</a></li>
                                            <li><a href="event-details.html">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a href="teacher.html">teacher</a>
                                        <ul>
                                            <li><a href="teacher.html">teacher</a></li>
                                            <li><a href="teacher-details.html">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">blog</a>
                                        <ul>
                                            <li><a href="blog.html">blog</a></li>
                                            <li><a href="blog-left-side-bar.html">blog left sidebar</a></li>
                                            <li><a href="blog-right-side-bar.html">blog righ sidebar</a></li>
                                            <li><a href="blog-details.html">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="#">Buy Now</a>
                                </ul>
                            </nav>
                        </div>
                        <!--Search Form Start-->
                        <div class="search-btn">
                            <ul data-toggle="dropdown" class="header-search search-toggle">
                                <li class="search-menu">
                                    <i class="fa fa-search"></i>
                                </li>
                            </ul>
                            <div class="search">
                                <div class="search-form">
                                    <form id="search-form" action="#">
                                        <input type="search" placeholder="Search here..." name="search" />
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--End of Search Form-->
                        <!-- Main Menu End -->
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->


<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>our teachers</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a href="teacher-details.html"><img src="~/img/teacher/@item.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a href="teacher-details.html">@item.Name @item.Surname</a></h2>
                            <h4>@item.Job</h4>
                            <ul>
                                <li><a href="@item.Contacts.FirstOrDefault(x=>x.TeacherId==item.id).FacebookUrl"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@item.Contacts.FirstOrDefault(x=>x.TeacherId==item.id).PinterestUrl"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="@item.Contacts.FirstOrDefault(x=>x.TeacherId==item.id).SkypeUrl"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@item.Contacts.FirstOrDefault(x=>x.TeacherId==item.id).TwitterUrl"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }


            @*<div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher1.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">STUART KELVIN</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher2.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">eamily cristian</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher3.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">kevin williams</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher4.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">salina gomaze</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher5.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">JASMIN SMITH</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher6.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">STEPHEN FLEMING</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher7.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">JULIA WILLIAMS</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher8.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">NAIL ANDERSON</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher9.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">STUART KELVIN</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher10.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">STUART KELVIN</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher11.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">KEVIN WILLIAMS</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-teacher mb-45">
                    <div class="single-teacher-img">
                        <a href="teacher-details.html"><img src="~/img/teacher/teacher12.jpg" alt="teacher"></a>
                    </div>
                    <div class="single-teacher-content text-center">
                        <h2><a href="teacher-details.html">SALINA GOMAZE</a></h2>
                        <h4>Associate Professor</h4>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="https://www.pinterest.com/devitemsllc/"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="zmdi zmdi-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!-- Teacher End -->