@model HomeVM
<!-- Header Area Start -->
<header class="top">
    <div class="header-area header-sticky fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="~/img/logo/logo.png" alt="eduhome" /></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="content-wrapper one">
                        <!-- Main Menu Start -->
                        <div class="main-menu one text-right">
                            <nav>
                                <ul>
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">Home</a>
                                        <ul>
                                            <li><a asp-controller="Home" asp-action="Index">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                            <li><a href="index-3.html">Home Three</a></li>
                                            <li><a href="index-4.html">Home Four</a></li>
                                            <li><a href="index-5.html">Home Five</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                                    <li>
                                        <a asp-controller="Course" asp-action="Courses">courses</a>
                                        <ul>
                                            <li><a asp-controller="Course" asp-action="Courses">courses</a></li>
                                            <li><a asp-controller="Course" asp-action="CourseDetails">courses details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Event" asp-action="EventHome">event</a>
                                        <ul>
                                            <li><a asp-controller="Event" asp-action="EventHome">event</a></li>
                                            <li><a href="event-left-side-bar.html">event left sidebar</a></li>
                                            <li><a href="event-right-side-bar.html">event right sidebar</a></li>
                                            <li><a asp-controller="Event" asp-action="EventDetails">event details</a></li>
                                        </ul>
                                    </li>
                                    <li class="hidden-sm">
                                        <a asp-controller="Teacher" asp-action="Teacher">teacher</a>
                                        <ul>
                                            <li><a asp-controller="Teacher" asp-action="Teacher">teacher</a></li>
                                            <li><a asp-controller="Teacher" asp-action="TeacherDetails">teacher details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-controller="Blog" asp-action="Blogs">blog</a>
                                        <ul>
                                            <li><a asp-controller="Blog" asp-action="Blogs">blog</a></li>
                                            <li><a href="blog-left-side-bar.html">blog left sidebar</a></li>
                                            <li><a href="blog-right-side-bar.html">blog righ sidebar</a></li>
                                            <li><a asp-controller="Blog" asp-action="BlogDetails">blog details</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Contact" asp-action="Contacts">Contact</a></li>
                                    <li><a href="#">Buy Now</a>
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu hidden-lg hidden-md one"></div>
                        <!-- Main Menu End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->

        @foreach (var item in Model.Slider.SliderImages.OrderBy(l => l.LineOrdeer))
        {
            <div class="single-slide item" style="background-image: url(img/slider/@item.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h2>@Model.Slider.Title </h2>
                                        <p>@Model.Slider.Description </p>
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }

        <!-- End Slingle Slide -->


    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>notice board</h3>

                    @foreach (var item in Model.Notices)
                    {
                        <div class="single-notice-left mb-25 pb-25">
                            <h4>@item.Title</h4>
                            <p>@item.Description </p>
                        </div>
                    }

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    @foreach (var item in Model.NoticeSeconds)
                    {
                        var mb_pb = "mb-25 pb-25";
                        if (item.id == Model.NoticeSeconds.Max(d => d.id)) { mb_pb = ""; }
                        <div class="single-notice-right @mb_pb">
                            <h3>@item.Title</h3>
                            <p>@item.Description</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@Model.Courses[i].id">
                                <img src="~/img/course/@Model.Courses[i].Image" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="Course" asp-action="CourseDetails" asp-route-id="@Model.Courses[i].id">@Model.Courses[i].Name</a></h3>
                            <p>@Model.Courses[i].Description</p>
                            <a class="default-btn" asp-controller="Course" asp-action="CourseDetails" asp-route-id="@Model.Courses[i].id">read more</a>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">

                @for (int i = 0; i < Model.Events.Count() / 2; i++)
                {

                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">@Model.Events[i].Day <span>@Model.Events[i].Month</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">@Model.Events[i].Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@Model.Events[i].Date.ToString("hh:mm")</li>
                                    <li><i class="fa fa-map-marker"></i>@Model.Events[i].Location</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">join now</a>
                            </div>
                        </div>
                    </div>
                }



            </div>




            <div class="col-md-6 hidden-sm hidden-xs">

                @for (int i = Model.Events.Count() / 2; i < Model.Events.Count(); i++)
                {

                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">@Model.Events[i].Day <span>@Model.Events[i].Month</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">@Model.Events[i].Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@Model.Events[i].Date.ToString("hh:mm")</li>
                                    <li><i class="fa fa-map-marker"></i>@Model.Events[i].Location</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="Event" asp-action="EventDetails" asp-route-id="@Model.Events[i].id">join now</a>
                            </div>
                        </div>
                    </div>



                }


            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @for (int i = 0; i < 3; i++)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/img/blog/@Model.Blogs[i].BlogImage" alt="blog"></a>
                            <div class="blog-hover">
                                <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>By @Model.Blogs[i].Writer  /  @Model.Blogs[i].Date.ToString("MMMM d, yyyy")  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html"> @Model.Blogs[i].Title </a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

       </div>
    </div>
</div>
<!-- Blog Area End -->
